*{
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-image: url("../images/backgrounds/h_img.jpg");
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

h1{
    font-weight: bold;
    line-height: 8vh;
}

#header-one{
    padding-top: 40vh;
    padding-bottom: 20vh;
}

#about-t{
    margin: 5vh 0;
}


#about-b{
    font-size: 20px;
}

#services{
    background-image: url(../images/backgrounds/s_image.jpg);
    margin: 5vh 0;
    padding: 8vh 20vh;
    color: white;
    line-height: 5vh;
}

#services > p{
    font-size: 20px;
}

.contact_form{
    background-image: url("../images/backgrounds/c_image.jpg");
    margin: 5vh 0;
}

#head{
    padding-top: 10vh;
    font-size: 4vh;
    color: white;
}

input[type=text]{
    background: transparent;
    margin-top: 20px;
    padding-top: 10px;
    border: 2px white solid;
}

input[type=email]{
    background: transparent;
    margin-top: 20px;
    border: 2px white solid;
}

textarea{
    padding: 5vh auto;
    margin: 5vh auto;
    background: transparent;
    border: 2px white solid;
}

::placeholder{
    color: white;
}

#send{
    margin-bottom: 20px;
    color: black;
    width: 5vw;
}

#footer{
    margin-top: 2vh;
}